/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-header,
.info-est-1969,
.info-letterpress,
.info-coursework,
.people-curators,
.people-developers,
.info-past-curators,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 20em;
  margin: 0.25em 0; /* Optional: adds space between sections */
}

.top-half-container,
.bottom-half-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  width: 100%;
  height: 10em;
  margin-bottom: 0.25em;
}

.top-half-container div,
.bottom-half-container div {
  border: 2px solid gray;
  width: 90%;
  height: 3em;
}

.curators-and-developers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* make sure it takes the full width of the main */
}

.people-single,
.people-double {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* each curator/developer div that has an image, header, and description*/
.person {
  border: 2px solid blue;
  width: 90%;
  height: 10em;
  margin: 0.5em 0; /* Optional: adds space between people divs */
}

.header-and-description,
.info-image {
  border: 2px solid green;
  width: 90%;
  height: 10em;
  margin-bottom: 1em;
}

@media only screen and (min-width: 900px) {
  .people-double {
    flex-direction: row;
  }

  .people-double .person {
    margin: 0em 0.5em;
  }
}
