/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

:root {
  --dark-green: #495a4a;
  --light-background: #faf9f6;
  --lighter-green: #cdaba9;
}

body {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Yeseva One", serif;
}

h2 {
  font-size: 3em;
  color: var(--dark-green);
  margin-top: 0.5em;
}

.header-and-description h2 {
  margin-bottom: 0.25em;
}
.hero-header,
.info-est-1969,
.info-letterpress,
.info-coursework,
.curators-and-developers,
.info-past-curators,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in width calculations */
}

.top-half-container,
.bottom-half-container,
.header-and-description,
.info-image,
.footer-top-half,
.footer-bottom-half,
.section-break-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  width: 100%;
  margin-bottom: 0.25em;
  box-sizing: border-box; /* Ensures padding is included in width calculations */
}

/* Adjust divs inside the top and bottom half containers */
.top-half-container div,
.bottom-half-container div {
  border: 2px solid gray;
  width: 100%;
  height: auto; /* No fixed height */
}

/* Curators and developers section */
.curators-and-developers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* takes the full width of the main */
  background: white;
}

.white-background {
  background: white;
  width: 100vw;
}

.people-single,
.people-double {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  box-sizing: border-box; /* Ensures padding is included in width calculations */
}

/* Slightly darker background to separate double sections from single - looks nice with single -> double -> single... */
.people-double {
  background: var(--light-background);
}

/* Each curator/developer div that has an image, header, and description */
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
  width: 90%;
  height: auto; /* No fixed height */
  margin: 0.5em 0;
  padding: 1em;
  box-sizing: border-box; /* Ensures padding is included in width calculations */
}

.person-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Header and description inside info sections */
.header-and-description,
.info-image {
  border: 2px solid green;
  width: 90%;
  height: auto; /* No fixed height */
  margin-bottom: 1em;
  box-sizing: border-box; /* Ensures padding is included in width calculations */
}

.header-and-description {
  margin-top: 1em;
}

.footer {
  background: var(--dark-green);
  color: white;
}

.footer-logo {
  width: 10em;
  margin: 1em 0em 1.5em 0em;
}

.footer-nav ul li,
.header-nav ul li {
  list-style-type: none; /* Optional: remove bullet points */
}

.footer-nav-list {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
  margin-bottom: 0.25em;
}

.footer-nav a,
.header-nav a {
  color: white; /* Ensure text color is white */
  text-decoration: none; /* Remove underline from links */
  text-transform: uppercase;
}

.hero-header {
  color: white;
  margin-bottom: 1.75em;
}

.orange-text {
  color: #e7a373;
}
/* Bottom half of hero header styling */
.celebrating-header {
  color: var(--light-background);
  font-size: 2.5em;
  margin-top: 0.25em;
}

.bottom-half-container {
  padding-left: 2.5em;
}

.non-header-footer-content {
  background: var(--light-background);
}

.header-nav-list,
.footer-nav-list {
  font-weight: 600;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;
  padding: 0.75em;
}

.info-image img,
.person img,
.footer-logo img {
  width: 100%;
}

.section-break-image img {
  width: 12.5em;
  margin: 1em 0em;
}

.person img {
  border-radius: 8px;
}

.header-logo {
  display: flex;
  justify-content: center;
}

/* PAGE RIP ELEMENT - SIZE AND ALIGNMENT */
img.pagerip {
  width: 100%; /* Ensure it doesn't exceed 100% width */
  z-index: 100;
  position: absolute;
  margin-top: -1em;
  margin-left: 0;
}

.cover {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -2;
  filter: grayscale(100%) contrast(70%) brightness(50%) sepia(100%)
    hue-rotate(340deg) saturate(120%);
  object-fit: cover; /* Ensures the image covers the entire element */
  margin-top: -1em; /* otherwise, there is a small gap at the top of the page*/
}

.header-logo img {
  width: 12.5em;
  height: auto;
}

/* people styling */
.person-name {
  color: var(--dark-green);
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0.4em;
}

.footer-subscript {
  display: flex;
  justify-content: center;
}
.caption-italics {
  font-style: italic;
  font-size: 0.8em;
  color: var(--light-background);
  padding: 1em;
  width: 80%;
  text-align: center;
}

.past-curators-list {
  text-align: center;
  color: var(--lighter-green);
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.person-title {
  color: var(--lighter-green);
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}

.centered-h2 {
  text-align: center;
}

.pronouns {
  color: var(--lighter-green);
  margin-top: 0.3em;
  margin-bottom: 1.2em;
  font-style: italic;
}

@media only screen and (min-width: 425px) {
  .person img {
    width: 16em;
  }
}
@media only screen and (min-width: 600px) {
  /* At 600px and up, footer nav is to the right of logo */
  .footer-top-half {
    flex-direction: row;
  }

  /* make slightly larger */
  .footer-logo {
    width: 15em;
  }

  .header-logo img {
    width: 20em;
  }

  .section-break-image img {
    width: 12.5em;
  }
  /* Nav becomes a vertical list, with added left margin */
  .footer-nav-list {
    flex-direction: column;
    gap: 0.65em;
    margin-left: 2em;
  }

  /* static width of person container so that text doesn't make container constantly expand  */
  .person {
    width: 27em;
  }

  .past-curators-list {
    width: 25em;
  }
}

@media only screen and (min-width: 900px) {
  .people-double {
    flex-direction: row;
  }

  .people-double .person {
    margin: 0em 0.5em;
  }
}
