/* 
        SPM WEBSITE

            GRC 339 - SPRING 2019

        >RACHEL LACKMANN
        >STEVEN NGUYEN
        >SARAH KOEP
                                    */

/* CSS BASE CODE < CHANGE THIS TO TITLE OF PAGE */

/* ------------------------------------ */

/* STYLES LOGO */
.logo {
    width: 25em;
    padding: 2em;
    float: left;
    transition: .5s ease-in-out;
}

/* FADES LOGO ON HOVER */
.logo:hover {
    opacity: .8;
    -webkit-transition: 1s ease-in-out;
    transition: .5s ease-in-out;
}

/* BODY - APPLYS ALL */
body {
    font-family: chivo, sans-serif;
}


/* HEADER CAPTION */
dd {
    margin: 4.8em 0 .5em 0em;
    min-width: 4.4em;
    font-family: yeseva one, serif;
    font-size: 4em;
    color: #FDF8F2;
    font-weight: 100;
    padding: 0 .5em;
    line-height: 95%;
}

/* FIRST HEADING LEVEL */
h1 {
    font-family: yeseva one, serif;
    font-size: 3em;
    color: #495A4A;
    font-weight: 100;
    padding: 0em 1em .5em .8em;
    position: relative;
    font-size: 5em;
    margin-bottom: 0;
    text-align: center;
    z-index: 101;
}

/* SUBHEADING LEVEL */
h2 {
    color: #495A4A;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: .5em 1em 0em 1em;
}

/* FROM HOME PAGEIGNORE */
h5 {
    font-size: 1em;
}

/* BODY TEXT PARAGRAPH */
p {
    padding: 0em 1em 1em 2em;
    font-size: 1em;
    width: 30em;
}

/* COVER IMAGE */
.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: -2;
    filter: grayscale(100%);

    /* STYLES THE COVER IMAGE */
    filter: contrast(70%) brightness(50%) sepia(100%) hue-rotate(340deg) saturate(120%);
}

/* MAKES FONT WEIGHT LIGHTER - SPAN ELEMENT */
.light {
    font-weight: 100;
}

/* MAKES FONT ORANGE - SPAN ELEMENT */
.orange {
    color: #E7A373;
}

/* STYLES NAV ELEMENTS */

/* NAV CONTAINER */
header {
    margin: 0;
    width: 100%;
    padding: none;
    height: 5.1em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

/* NAV LINKS */
a {
    text-decoration: none;
}

nav a {
    color: #FDF8F2;
    padding: 2em 1.2em .7em 1.3em;
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: .03em;
    -webkit-transition: 1s ease-in-out;
    transition: .5s ease-in-out;
}

/* NAV HOVER HIGHLIGHT ON HOVER */
nav a:hover {
    background: #CDABA9;
    color: #FDF8F2;
    transition: .5s;
}

/* NAV LINKS - FLEX BOX */
nav ul {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    padding: 1em;
}

nav ul li {
    list-style-type: none;
    flex-direction: row;
}

.currentpage {
    color: #E7A373;
}

/* PAGE RIP ELEMENT - SIZE AND ALIGNMENT */
img.pagerip {
    min-width: 50em;
    width: 103%;
    z-index: 100;
    position: absolute;
    margin-left: -1em;
}

/* SOCIAL ICONS */
.socialicons {
    z-index: 100;
    float: right;
    margin-top: -3em;
}

.socialicons img {
    width: 2em;
    margin: .3em;
    transition: .5s;
}

.socialicons img:hover {
    filter: brightness(65%) sepia(100%)hue-rotate(-20deg) saturate(140%);
    transition: .5s;
}

/* END OF SOCIAL ICONS */

/* MAIN PAGE CONTENT DIV */
.pagecontent {
    padding-top: 1.5em;
    position: relative;
    width: 103vw;
    margin-top: 4em;
    background-color: #FDF8F2;
    z-index: 0;
    margin-left: -1em;
    padding-bottom: 20em;
}


/*IMAGE FLOAT LEFT*/
img.left {
    float: left;
    width: 20em;
    margin: 0 0 0 2em;
    opacity: .7;
}

/*IMAGE FLOAT RIGHT*/
img.right {
    float: right;
    width: 20em;
    margin: 0 2em 0 0;
    opacity: .7;
}

div.info {
    float: left;
}

.hours {
    background-color: #CDABA9;
    display: flex;
    text-transform: uppercase;
    width: 30em;
    padding-left: 0em;
    margin-left: 4em;
    text-align: center;
    height:7.5em;
}

.hours h2 {
    font-family: yeseva one, serif;
    font-size: 2em;
    padding: 0 1em;
    color: #FDF8F2;
    text-align: left;
}

.hours h3 {
    margin: auto 0;
    padding: 0;
}

.location {
    float: left;
    background-color: #E7A373;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 30em;
    margin-left: 4em;
    padding-left: 0em;
    margin-bottom: .5em;
    height:7.5em;
}

.location h2 {
    font-family: yeseva one, serif;
    font-size: 2em;
    padding: .5em 1em 0 1em;
    margin: 0;
    color: #FDF8F2;
}

.location h3 {
    margin: 0 1.6em;
    padding-bottom: .5em;
    text-transform: none;
}

.desc {
    width: 27em;
    float: none;
    clear: both;
    font-weight: 400;
    margin-left: 3em;
    margin-bottom: 1em;
}

.map {
    max-width: 40em;
    width: 40%;
    margin: 0 0 0 15%;
}

.upcomingevents h1 {
    text-align: left;
    margin: 3em 0 0 2em;
    line-height: 1;
}

.upcomingevents h5 {
    font-size: 1.3em;
    font-weight: 200;
    line-height: 1.5;
    width: 75%;
    margin: 0 0 0 11em;
    max-width: 50em;
}

.eventblocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 0;
    max-width: 90em;
}

.event {
    width: 25em;
    margin: 2em 3em;
}

.event h3 {
    background-color: #CDABA9;
    padding: 1em 0;
    width: 4em;
    color: #FDF8F2;
    text-align: center;
    font-family: yeseva one, serif;
    font-size: 1.5em;
    line-height: 1;
    float: left;
}

.event h2 {
    text-transform: none;
    font-weight: 900;
    font-style: italic;
    vertical-align: middle;
    width: 8em;
    padding-left: 5em;
}

.event p {
    padding-left: 0;
    width: 25em;
    float: none;
    clear: both;
}


/* ------------- FOOTER ---------------- */

footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #495A4A;
    padding: 1.5em 1em 1em 1em;
}

/* NAV LINKS */
.footerlogo {
    margin-right: 3em;
    width: 15em;
    float: left;
}

/* FOOTER LINK */
footer a {
    text-decoration: none;
    color: #FDF8F2;
}

footer a:hover {
    background: none;
    color: #E7A373;
    transition: 1s;
}

/* FOOTER NAV LINKS */
footer ul li {
    margin-left: -1em;
    padding-bottom: 1em;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* APPLIES LEFT BORDER */
footer div {
    margin-left: 5%;
    padding: none;
    width: 20%;
    border-left: 3px solid white;
    float: left;
    height: 6em;
}

/* FOOTER SOCIAL ICONS */
footer .socialicons {
    margin-top: 0;
    width: 13%;
    float: right;
    height: 3em;
    border: none;
}

/* Footer Copyright Text */
footer p {
    display: block;
    font-size: .75em;
    font-weight: 100;
    color: #FDF8F2;
    padding: 12em 0 1em 0;
    text-align: left;
    width: 80em;
}

/* Gallery SECTION */
.gallery {
    display: block;

}

.gallery h1 {
    padding: 0;
    font-size: 5em;
}

.gallery h2 {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 0em;
    font-size: 1.5em;
    letter-spacing: .1em;
}

.block {
    background-color: #FDF8F2;
    margin-top: -4em;
    position: relative;
    z-index: 1;
    height: 6em;
}

.galleryicon {
    width: 3em;
    filter: brightness(25%) sepia(100%)hue-rotate(40deg) saturate(140%);
    float: left;
    margin: 1.3em 0 0 -15em;
    position: absolute;
}

/* Get Involved SECTION */
.getinvolved {
    display: block;

}

.getinvolved p {
    padding: 0 0 0 11em;
}

.getinvolved h1 {
    padding: 0 0 0 2em;
    margin: 0 0 0 0;
    text-align: left;
    font-size: 5em;
}

.getinvolved h2 {
    margin: 0 0 0 6.3em;
    font-family: yeseva one, serif;
    color: #845018;
    font-weight: 100;
    letter-spacing: 0.05em;
}

/* involved option blocks */
.involvedblocks {
    float: right;
    display: block;
    position: absolute;
    margin: -25em 0 0 55em;
}

.donate {
    background-color: #495A4A;
    color: #fff;
    font-size: 3em;
    width: 7em;
    height: 1em;
    padding: 0.5em;
    text-align: center;
    font-family: yeseva one, serif;
}

.volunteer {
    background-color: #E7A373;
    margin: auto;
    color: #fff;
    font-size: 3em;
    width: 7em;
    margin-top: -0.5em;
    height: 1em;
    padding: 0.5em;
    text-align: center;
    font-family: yeseva one, serif;
}

.apply {
    background-color: #CDABA9;
    color: #fff;
    font-size: 3em;
    width: 7em;
    height: 1em;
    margin-top: .5em;
    padding: 0.5em;
    text-align: center;
    font-family: yeseva one, serif;
}

.instagramfeed {
    position: relative;
    z-index: 1;
}

img.typeSet {
    float: right;
    max-width: 30em;
    height:auto;
    margin: 0em 10em auto;
}

/**MEDIA QUERIES**/

@media only screen and (max-width:1100px) {
    .map {
        width: 25em;
        margin: 2em;
    }

    .involvedblocks {
        position: relative;
        display: block;
        margin: auto;
        float: none;
        clear: both;
    }

    .volunteer {
        margin-top: auto;
    }

    .donate {
        margin: .5em auto;
    }

    .apply {
        margin: .5em auto;
    }
}

@media only screen and (max-width: 900px) {
    header {
        height: 10em;
        display: flex;
        flex-direction: column-reverse;
    }

    .logo {
        float: none;
        display: block;
        margin: auto;
        margin-bottom: -4em;
        padding: 2em 0 0 0;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    nav ul li {
        text-align: center;
        margin: 0em auto;
        align-content: center;
    }

    nav a:hover {
        background: none;
        color: #E7A373;
    }

    h1 {
        font-size: 3em;
    }

    dd {
        margin: 2em 0 0 0;
    }

    .cover {
        min-width: 50em;
    }

    .pagerip {
        margin-top: 1.2em;
    }

    img.right {
        display: block;
        float: none;
        clear: both;
        margin: auto;
    }

    img.left {
        display: block;
        float: none;
        clear: both;
        margin: auto;
    }

    p {
        clear: both;
        width: 80%;
        margin: auto;
    }

    .info {
        width: 100%;
        display: block;
        float: none;
        clear: both;
        margin: auto;
    }

    .hours {
        margin: .8em auto;
        width: 25em;
        float: none;
        clear: both;
    }

    .location {
        margin: .8em auto;
        width: 25em;
        float: none;
        clear: both;
    }

    .desc {
        width: 70%;
    }

    .map {
        width: 20em;
        margin: auto;
        clear: both;
        float: none;
        display: block;
    }

    .footerlogo {
        width: 40%;
        margin: auto;
    }

    footer div {
        width: 20%;
        margin: 0 0 0 1em;
        height: auto;
    }

    footer .socialicons {
        clear: both;
        float: none;
        width: 5.5em;
        margin: auto;
        padding-top: 1em;
    }

    footer p {
        width: 90%;
        padding-top: 1em;
    }

    /* RACHEL COPY THIS PART - START */

    /* MEDIA QUERY : for Gallery section */
    .gallery {}

    .gallery h1 {
        font-size: 3em;

    }

    .gallery h2 {
        font-size: 1em;
        padding: 0.5em 0 0 0;

    }

    .galleryicon {
        margin: 0.7em 0 0 -9.5em;
        width: 2em;

    }

    /* MEDIA QUERY : for Get Involved section */
    .getinvolved {
        margin: 0 0 0 -8em;

    }

    .getinvolved h1 {
        font-size: 3em;
        margin: 0 0 0 1.6em;
    }

    .getinvolved p {
        width: 90vw;
        padding-right: 1em;
    }

    .getinvolved h2 {}

    .involvedblocks {
        float: none;
        clear: both;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0em 0 0 4em;
        padding: 2em 0 0 0;
    }

    .volunteer {}

    .apply {}

    .upcomingevents h1 {
        margin: auto;
        width: 80%;
    }

    .upcomingevents h5 {
        min-width: none;
        width: 80%;
        margin: auto;
    }

    img.typeSet{
        float:inline-end;
    }
    /* RACHEL COPY THIS PART - END */
}
